.sponsorCard{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.sponsorPhoto{
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    height: auto;
    max-width: 300px;
}


.row:before, row:after{
    display: inline-block;
}