.bg-titanium {
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-rain {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.bg-crimson {
  color: white;
  background-image: linear-gradient(315deg, #751515 0%, #d43637 50%);
}

.bg-smoke {
  background-image: linear-gradient(to top, #909090 0%, #ccd4d8 100%);
}


.bg-blue-grey {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}


.background-luminosity .background-image-holder {
    background-color: #87949c !important;
    background-blend-mode: luminosity;
}

img.sponsor {
  height:90px;
  opacity: .65;
}

img.sponsor:hover {
  opacity: 1;
transition: all 500ms ease;
}

#aboutUs div	    			{display: table-cell; vertical-align: middle;}
#aboutUsContainer   			{background-color: #fff;}
#aboutUs img	    			{padding: 25px 0 25px 50px;}
#aboutUsText	    			{width: 100%;}
#aboutUsTitle a	    			{padding-bottom: 15px; color: #B22222; text-decoration: none;}
#aboutUsTitle a:hover			{padding-bottom: 15px; color: #8B0000;}
#aboutFirstTitle a	    		{padding-bottom: 15px; color: #00BFFF; text-decoration: none;}
#aboutFirstTitle a:hover		{padding-bottom: 15px; color: #1E90FF;}
#aboutUsDescription				{text-align: justify;}
#aboutFirst div					{display: table-cell; vertical-align: middle;}
#aboutFirst img 				{padding-right: 50px;}
#aboutFirstText					{width: 100%;}
#aboutFirstTitle 				{padding-bottom: 15px;}
#aboutFirstDescription			{text-align: justify;}
#newsContainer					{background-color: #fff;}
#news							{display: table-cell; padding-right: 20px;}
#news a:link					{color: #FF0000;}
#news a:hover					{color: #B20000;}
#newsHead						{font-family: Fredericka the Great; font-variant: small-caps; font-size: 5em; text-align: center; color: #800000;}
#buildBlog						{display: table-cell; background-color: rgb(153, 15, 47); /background-color: rgb(14, 104, 177);*/ width: 150px; height: 200px; padding: 50px 20px !important; vertical-align: middle}
#buildBlog h4					{color: white; text-align: right;}
#buildBlog p a					{text-align: right; line-height: 28px; color: white !important; opacity: .8; text-decoration: none;}
#buildBlog p a:hover			{opacity: 1;}
#sponsors a						{text-decoration: none; color: #B22222;}
#sponsors a:hover				{color: #800000;}
#logo							{float: right;}
#myCanvas						{/*height: 500px;*/}
.at-branding					{display: none;}




#video {
    z-index: -1;
  height: 100%;
  }
  /*#pButton {
    position: absolute;
    height: 60px;
    width: 60px;
    border: none;
    right: 50%;
    left: 50%;
    top: 30%;
    background-size: 50% 50%;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: 0;
    z-index: 20;
  }*/
  #overlay {
    position: absolute;
    border: none;
  width: 100%;
  text-align: center;
    margin: auto;
    top: 20%;
  color: gold;
    /*background-size: 50% 50%;*/
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: 0;
    z-index: 20;
  font: 3.5em Fredericka the Great;
  }
  /*.play {
    background-image: url('ctn/img/play_button.png');
  }
  .pause {
    background-image: url('ctn/img/pause_button.png');
  }*/
  /*span.roll {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background: #000;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000;
  opacity: 0;
  }
span.roll:hover {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: .7;
}*/
span.roll {
  background: #000;
  position: absolute;
  top: 60px;
  width: 100%;
  height: 1%;
  z-index: 10;
  opacity: 0;
}
  /*#video:after {
    content:'\A';
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  #video:hover:after {
    opacity:1;
  }*/
  /*::cue {
    //color: #FFD700;
    background-color: transparent;
    outline: 0;
    font-size: 60px;
  }*/
