.collapsible {
  cursor: pointer;
  border: none;
  outline: none;
  margin:auto;
}

.content {
  display:none;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

/* .active:after {
  content: "\2796";
} */
/* Unicode character for "minus" sign (-) */
