/*FRC Banners*/

.awardColumn {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	border: 0;
}

*::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.banner {
	background: #0f4bcb;
	color: white;
	display: inline-block;
	height: 225px;
	width: 160px;
	line-height: 1.2;
	margin: 0 0 40px;
	padding: 8px;
	position: relative;
	text-align: center;
	vertical-align: top;
	white-space: normal;
	margin-top: 10px;
}
.banner::after {
	content: "";
	position: absolute;
	display: block;
	border: 80px solid #0f4bcb;
	border-top-width: 5px;
  border-bottom: 20px transparent solid;
  width: 160px;
	top: 100%;
	left: 0px;
}
.banner, .banner::after {
	-webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
	filter: drop-shadow(0 5px 5px rgba(0,0,0,0.1));
}
.text-center {
	text-align: center;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
/* @media all and (min-width:1200px) */
.container {
	width: 1170px;
}
.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
	content: " ";
	display: table;
}
.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
	clear: both;
}
/* @media all and (min-width:768px) */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
}
/* @media all and (min-width:768px) */
.col-sm-9 {
	width: 75%;
}
/* @media all and (min-width:1200px) */
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
}
/* @media all and (min-width:1200px) */
.col-lg-10 {
	width: 83.33%;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* @media all and (min-width:768px) */
.container {
	width: 750px;
}
/* @media all and (min-width:992px) */
.container {
	width: 970px;
}

img {
	vertical-align: middle;
}
.banner img {
	margin-bottom: 10px;
	margin-top: 10px;
	width: 75px;
	max-height: 45px;
}
.banner .banner-award-name, .banner .banner-award-name-long {
	display: table;
	width: 100%;
	/* height: 35px; */
	font-weight: bolder;
	margin: 0;
	margin-top: 3px;
  margin-bottom: 3px;
  font-family: "Roboto",sans-serif;
	font-size: 14px;
	line-height: 1.4285;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.banner .banner-award-event, .banner .banner-award-event-long {
	display: table;
	text-transform: uppercase;
  width: 100%;
  font-family: "Roboto",sans-serif;
	font-size: 14px;
	line-height: 1.4285;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  position: absolute; /* or absolute */
  bottom: 3%;
  left: 0%;
}
.banner .banner-award-event {
	font-size: 85%;
	line-height: 130%;
}
.banner .banner-award-event span, .banner .banner-award-event-long span {
	display: table-cell;
	vertical-align: middle;
	max-width: 124px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.banner .banner-award-name span, .banner .banner-award-name-long span {
	display: table-cell;
	vertical-align: middle;
	font-style: italic;
	text-transform: uppercase;
}

.row:before, row:after{
    display: inline-block;
}