window.App.templates.pages.awards = `
<div class="main-container">
<section class="img-bg bg-crimson" style="border-bottom-style:solid;border-bottom-width:20px;border-bottom-color:#292929;">
  <center><h1 style="color:white;margin-bottom:-5vh;"><b>Awards</b></h1></center>
</section>
<section class="img-bg" style="background-color:white;">



    <div class="col-md-6">
      <center><h2 style="color:maroon; font-weight:500">2018</h2></center>
      <div v-for="award in awards">
        <div v-if="award.year === '2018'"  class="card-body">
            <center><h4 class="card-title" ><b>{{ award.event }}</b></h4>
            <p class="lead card-text" >{{ award.name }}</p></center>
            <img v-bind:src="award.picture"/>
        </div>
      </div>
      <center><h2 style="color:maroon; font-weight:500">2017</h2></center>
      <div v-for="award in awards">
        <div v-if="award.year === '2017'"  class="card-body">
          <center><h4 class="card-title" ><b>{{ award.event }}</b></h4></center>
            <center><p class="lead card-text" >{{ award.name }}</p></center>
            <img v-bind:src="award.picture" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <center><h2 style="color:maroon; font-weight:500">2015</h2></center>
        <div v-for="award in awards">
          <div v-if="award.year === '2015'"  class="card-body">
            <center><h4 class="card-title" ><b>{{ award.event }}</b></h4></center>
            <center><p class="lead card-text" >{{ award.name }}</p></center>
            <img v-bind:src="award.picture"/>
          </div>
        </div>
        <center><h2 style="color:maroon;  font-weight:500">2014</h2></center>
          <div v-for="award in awards">
            <div v-if="award.year === '2014'"  class="card-body">
              <center><h4 class="card-title" ><b>{{ award.event }}</b></h4></center>
              <center><p class="lead card-text" >{{ award.name }}</p></center>
              <img v-bind:src="award.picture"/>
            </div>
          </div>
        </div>



</section>
</div>
`;
