window.App.templates.pages.awards = `
<div class="main-container">
<section class="img-bg" style="background-color:black;margin-bottom:-50px;">
  <center><h1 style="color:white;"><b>Awards</b></h1></center>
</section>
<section class="img-bg" style="background-color:white;">
  <center><h2 style="color:maroon;margin-top:-50px;"><b>2018</b></h2></center>
  <p class="lead" style="color:maroon;">Regional Engineering Inspiration Award - SBPLI Long Island Regional #2</p>
  <p class="lead" style="color:maroon;">Judges' Award - Hudson Valley Regional</p><hr>
  <center><h2 style="color:maroon;"><b>2017</b></h2></center>
  <p class="lead" style="color:maroon;">Regional Winners - Hudson Valley Regional</p>
  <p class="lead" style="color:maroon;">FIRST Dean's List Finalist Award (Phyllis Alinsao) - Hudson Valley Regional</p>
  <hr>
  <center><h2 style="color:maroon;"><b>2015</b></h2></center>
  <p class="lead" style="color:maroon;">Regional Engineering Inspiration Award - New York City Regional</p>
  <p class="lead" style="color:maroon;">Gracious Professionalism Award sponsored by Johnson & Johnson - Carson Division</p>
  <p class="lead" style="color:maroon;">Gracious Professionalism Award sponsored by Johnson & Johnson - SPBLI Long Island Regional</p>
  <hr>
  <center><h2 style="color:maroon;"><b>2014</b></h2></center>
  <p class="lead" style="color:maroon;margin-bottom:-50px;">Gracious Professionalism Award sponsored by Johnson & Johnson - New York City Regional</p>
</section>
</div>
`;
