window.App.templates.pages.becomesponsor = `
<div class="main-container">
<section class="img-bg" style="background-color:gold;margin-bottom:-50px;">
  <center><h1><b>Become a Sponsor</b></h1></center>
</section>
<section class="img-bg" style="background-color:white;">
  <center><img src="/ctn/img/HVR2018.png" style="width:50%;height:50%;"></img></center><br>
  <center><a href="https://thhs.ed.co/steel-hawks" target="_blank" class="btn-lg btn-filled">Donate to EDCO</a></center>
  <br>
  <center><h2>Contact Us</h2></center>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <center><b><p class="lead">Email: <a href="mailto:townsendharrisrobotics@gmail.com">townsendharrisrobotics@gmail.com</a></p></b></center>
      </div>
      <div class="col-sm-6">
        <center><b><p class="lead">Phone: (718) 575 - 5580</p></b></center>
      </div>
    </div>
  </div>
</section>
</div>
`;
