window.App.templates.pages.contact = `
  <div class="main-container">
    <section class="img-bg bg-black text-center">
      <h1 style="color:white;margin-bottom:-5vh;"><b>CONTACT US</b></h1>
    </section>
    <section class="img-bg bg-maroon">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="lead text-justify feature boxed cast-shadowed-light">Thanks for visiting our site! If you have any questions, or would like to sponsor or mentor our team,
              contact us at <a href="mailto:townsendharrisrobotics@gmail.com">townsendharrisrobotics@gmail.com</a>!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h4 class="text-justify"><b>FIND US AT</b></h4>
              <address class="address">
                <strong>TOWNSEND HARRIS HIGH SCHOOL</strong><br>
                149-11 Melbourne Avenue<br>
                Flushing, NY 11367<br>
                <strong>Phone:</strong> (718) 575 - 5580
              </address>
          </div>
          <!-- <div class="col-lg-6">
            <div id="townsend-map" class="townsend-map"></div>
          </div> -->
        </div>
      </div>
    </section>
  </div>
`
