window.App.templates.pages.eboard = `
<div class="main-container">
  <section class="img-bg" style="background-color:black;border-bottom-width:20px;border-bottom-style:solid;border-bottom-color:#FFFFFF;">
    <center><h1 class="uppercase" style="color:white;margin-bottom:-5vh;"><b>Executive Board</b></h1></center>
  </section>
  <section class="img-bg bg-crimson" style="border-bottom-width:20px;border-bottom-style:solid;border-bottom-color:#FFFFFF;">
    <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-12 mb30 " v-for="leader in leaders">
              <div class="feature boxed cast-shadow-light mb0" style="height:700px;">
                  <center><img v-bind:src="leader.pic"></img></center><br>
                  <center><h2 style="margin-bottom:10px;color:maroon;">
                      {{ leader.name }}</h2></center>
                  <center><h4> {{ leader.title }}</h4></center>
                  <br>
                  <p class="text-justify" style="color:black;"> {{leader.bio}} </p>
              </div>
          </div>
      </div>
    </div>
  </section>
</div>
`;
