<div class="main-container">

    <section class="image-bg cover fullscreen  background-luminosity pt80 pt-xs-80 pb-xs-80">

        <div class="background-image-holder fadeIn" style="background: url('ctn/img/first_bg.jpg');">
            <img alt="image" class="background-image" src="ctn/img/first_bg.jpg" style="display: none;">
        </div>
        <div class="container">
        <div class="start_row row">
          <div class="col-md-5">
          </div>
          <div class="col-md-6">
            <h3 class="uppercase">
                <strong>FIRST Robotics</strong>
            </h3>
          </div>
          </div class="end_row">

            <div class="start_row row">
            <div class="col-md-5" >

              <img alt="image" style="float:right" src="ctn/img/FRCicon.png">

            </div>
                <div class="col-md-6">
                    <h4>
                    FIRST is a non-profit organization founded by inventor Dean Kamen.
                    The aim of FIRST, an abbreviation for "For Inspiration and Recognition of Science and Technology,"
                    is to spread Science, Technology, Engineering, and Math to all corners of the globe,
                    and get students from all over the world involved. </h4>

                    <blockquote class="mb80">"To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders." -Dean Kamen, Founder
                    </blockquote>

                    <a class="btn btn-lg btn-filled" href="#">Learn More</a>
                </div>


            </div class="end_row">
        </div>
        <!--end of container-->
    </section>

</div>
