<div class="main-container">

<section class="image-bg fadeIn" style="background:url('ctn/img/first_bg.jpg');height:63vh;">
  <center><h1 class="uppercase" style="margin-top:21vh;"><strong>FIRST Robotics</strong></center>
</section>
<section class="feature boxed cast-shadow-light maroon-border">
  <h2 style="color:maroon;"><center><strong>What is FIRST?</strong></center></h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img alt="image" style="float:left;" src="ctn/img/FRCicon.png">
      </div>
      <div class="col-sm-9">
        <p class="lead text-justify">FIRST was founded by Dean Kamen in 1989 in Manchester, New Hampshire. FIRST is a community of global members who share a passion for learning and exploring the world around them.
           By creating a new game every year, FIRST promotes critical thinking and innovation to resolve the challenge presented through experimentation while having fun.
           FIRST drives students to become leaders in the STEM fields and work towards their goals with the assistance of mentors.
           The skills developed by participating in FIRST programs prepares them for prosperity in their future careers.</p>
      </div>
    </div>
    <br><br><br>
    <center><a href="https://www.google.com/url?q=http://www.firstinspires.org&sa=D&ust=1549721868047000&usg=AFQjCNGTWx5aRWb2whLFQjF2tsZ0lJe6AQ"
      target="_blank" class="btn-lg btn-filled" style="background-color:maroon;">LEARN MORE ABOUT FIRST</a></center><br>
      <center><a href="https://www.google.com/url?q=http://www.firstinspires.org&sa=D&ust=1549721868047000&usg=AFQjCNGTWx5aRWb2whLFQjF2tsZ0lJe6AQ"
        target="_blank" class="btn-lg btn-filled" style="background-color:maroon;">NYC FIRST</a></center>
  </div>
</section>
    <!-- <section class="image-bg pt80 pt-xs-80 pb-xs-80">

        <div class="background-image-holder fadeIn" style="background:url('ctn/img/first_bg.jpg');">
            <img alt="image" class="background-image" src="ctn/img/first_bg.jpg" style="display: none;">
        </div>
        <div class="container">
        <div class="start_row row">
          <div class="col-md-5">
          </div>
          <div class="col-md-6">
            <h3 class="uppercase">
                <center><strong>FIRST Robotics</strong></center>
            </h3>
          </div>
          </div class="end_row">

            <div class="start_row row">
            <div class="col-md-5" >

              <img alt="image" style="float:right" src="ctn/img/FRCicon.png">

            </div>
                <div class="col-md-6">
                    <h4 class="text-justify" style="background-color:white;color:black;">
                      FIRST was founded by Dean Kamen in 1989 in Manchester, New Hampshire. FIRST is a community of global members who share a passion for learning and exploring the world around them. By creating a new game every year, FIRST promotes critical thinking and innovation to resolve the challenge presented through experimentation while having fun. FIRST drives students to become leaders in the STEM fields and work towards their goals with the assistance of mentors. The skills developed by participating in FIRST programs prepares them for prosperity in their future careers. </h4>

                    <blockquote class="mb80">"To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders." -Dean Kamen, Founder
                    </blockquote>

                    <a class="btn btn-lg btn-filled" href="https://www.google.com/url?q=http://www.firstinspires.org&sa=D&ust=1549721868047000&usg=AFQjCNGTWx5aRWb2whLFQjF2tsZ0lJe6AQ">To Learn More</a>
                </div>


            </div class="end_row">
        </div>
        <!--end of container-->
    <!-- </section> -->

</div>
