window.App.templates.pages.frc = `
<div class="main-container">

<section class="image-bg fadeIn" style="background:url('ctn/img/first_bg.jpg');height:63vh;">
  <center><h1 class="uppercase" style="margin-top:21vh;"><strong>FIRST Robotics</strong></h1></center>
</section>
<section class="feature boxed cast-shadow-light maroon-border">
  <h2 style="color:maroon;"><center><strong>What is FIRST?</strong></center></h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img alt="image" style="float:left;" src="ctn/img/FRCicon.png">
      </div>
      <div class="col-sm-9">
        <p class="lead text-justify">FIRST was founded by Dean Kamen in 1989 in Manchester, New Hampshire. FIRST is a community of global members who share a passion for learning and exploring the world around them.
           By creating a new game every year, FIRST promotes critical thinking and innovation to resolve the challenge presented through experimentation while having fun.
           FIRST drives students to become leaders in the STEM fields and work towards their goals with the assistance of mentors.
           The skills developed by participating in FIRST programs prepares them for prosperity in their future careers.</p>
      </div>
    </div>
    <br><br><br>
    <center><a href="https://www.google.com/url?q=http://www.firstinspires.org&sa=D&ust=1549721868047000&usg=AFQjCNGTWx5aRWb2whLFQjF2tsZ0lJe6AQ"
      target="_blank" class="btn-lg btn-filled" style="background-color:maroon;">LEARN MORE ABOUT FIRST</a></center><br>
      <center><a href="https://www.google.com/url?q=http://www.firstinspires.org&sa=D&ust=1549721868047000&usg=AFQjCNGTWx5aRWb2whLFQjF2tsZ0lJe6AQ"
        target="_blank" class="btn-lg btn-filled" style="background-color:maroon;">NYC FIRST</a></center>
  </div>
</section>


</div>
`
