<div class="main-container">

    <section class="image-bg overlay pt-xs-180 pb-xs-180" style="height:60vh;">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="ctn/img/team/mentors.jpg" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <h1 class="mb5 uppercase" style="border-bottom:15px solid #af0000;">
                  Townsend Harris</h1>
                    <h1 class="mb0 uppercase bold" style="font-size:90px">
                      Steel<img class="" alt="Foundry" src="ctn/img/banner/logowhite.png" />
                      Hawks</h1>
                    <h5 class="uppercase mb32 mt-xs-32">FRC#2601</h5>
                    <p class="lead mb0">
                        &nbsp;&nbsp;a FIRST family member since 2008 </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <a id="about"></a>

    <section class="bg-crimson" style="padding-top:30px;height:30vh">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="uppercase mb24 bold italic"><span style="color:black">FRC</span><span style="color:white">2601</span>
                      <img src="ctn/img/sponsors/thhs.png" style="width:50%;max-width:150px"/>
                    </h2>
                </div>
                <div>
                    <p class="lead text-justify" style="margin-top:5vh;margin-bottom:5vh;">
                      The Steel Hawks (FRC 2601) focuses on empowering our diverse team to develop abilities through a collaborative learning environment.
                      We create opportunities to explore a myriad of fields to ignite and fuel our passions.
                      Our enthusiasm drives us to share our knowledge globally to inspire the next generation of innovators.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <a id="news"></a>
    <section class="bg-light pt40">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <center><h2 class="mb40"><b>Media</b></h2></center>
            <div id="pixlee_container"></div>
        </div>
      </div>
    </section>

<section class="pt40 pb0 image-bg" style="background-color:red;">
  <center><h2><b>Support The Team</b></h2></center>
  <a href="https://thhs.ed.co/steel-hawks" target="_blank"><img src="/ctn/img/edco.png"></a>
</section>

<section class="pt40 pb40 image-bg" style="background-color:black;">
    <div class="container">
        <div class="row">
            <div class="overflow-hidden">
                <center><h2><b>Contact Us</b></h2></center>
                <center><h4 class="uppercase mb20"><a href="https://www.thhs.qc.edu/" target="_blank">Townsend Harris High School</a></h4></center>
                <center><div class="col-sm-6 p0">
                    <p class="lead">
                        <a href="https://www.google.com/maps/place/Townsend+Harris+High+School/
                        @40.7349907,-73.8235537,17z/data=!3m1!4b1!4m5!3m4!1s0x89c26061029c1fa5:0xdf1a323bf2fdf3c5!8m2!3d40.7349867!4d-73.821365"
                        target="_blank">149-11 Melbourne Ave</a>
                        <br> Flushing, NY 11367
                    </p>
                </div></center>
                <center><div class="col-sm-6 p0">
                    <p class="lead">
                        <b>Phone: (718) 575 - 5580</b>
                        <br>Email: <a href="mailto:townsendharrisrobotics@gmail.com">townsendharrisrobotics@gmail.com</a>
                    </p>
                </div></center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <ul class="list-inline social-list mb0">
                        <li>
                            <a href="https://twitter.com/thhsrobotics?lang=en" target="_blank">
                                <i class="icon icon-sm ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/frc2601/" target="_blank">
                                <i class="icon icon-sm ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/steelhawks2601/" target="_blank">
                                <i class="icon icon-sm ti-instagram"></i>
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  <a id="sponsors"></a>

    <section class="bg-blue-grey image-bg pt40 pb40">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2><b>Our Sponsors</b></h2>
                    <p class="lead">
                        The Steel Hawks would like to thank the following people,
                        companies and organizations for their continuing support
                        of our team and school.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->


        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center spread-children-large">
                  <a v-for="sponsor in sponsors" style="padding-top:30px" v-bind:href="sponsor.url">
                    <img alt="pic" class="sponsor fade-1-4"  v-bind:src="sponsor.logo">
                  </a>
                </div>
            </div>

            <div class="row">

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
