<div class="main-container">

    <section class="image-bg overlay pb240 pt-xs-180 pb-xs-180">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="ctn/img/team/mentors.jpg" />
        </div>
<!--         <div class="fs-vid-background">
 -->

            <!-- <div id="yt_aquila" class="player"
                  data-property="{videoURL:'sIoXR36DF2A',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,optimizeDisplay: true, anchor:'bottom'}"></div> -->
<!--           <video width="100%" height="100%" id="video" muted autoplay loop >
            <source src="ctn/video/banner_low.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
 -->        
 <!-- </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <h1 class="mb5 uppercase" style="border-bottom:15px solid #af0000;">
                  Townsend Harris</h1>
                    <h1 class="mb0 uppercase bold" style="font-size:90px">
                      Steel<img class="" alt="Foundry" src="ctn/img/banner/logowhite.png" />
                      Hawks</h1>
                    <h5 class="uppercase mb32 mt-xs-32">FRC#2601</h5>
                    <p class="lead mb0">
                        &nbsp;&nbsp;a FIRST family member since 2008 </p>
                </div>
                <a style="position:absolute;bottom:0px;right:0px" class="volume btn btn-icon btn-sm btn-rounded" href="#">
                  <i class="ti-volume icon-xs"></i></a>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <a id="about"></a>

    <section class="bg-crimson" style="padding-top:80px;height:40vh">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-right text-left-xs col-sm-5">
                    <h2 class="uppercase mb24 bold italic"><span style="color:black">FRC</span><span style="color:white">2601</span>
                      <img src="ctn/img/sponsors/thhs.png" style="width:50%;max-width:150px"/>
                    </h2>
                    <hr class="visible-xs">
                </div>
                <div class="col-md-5 col-sm-7">
                    <p class="lead">
                      Team 2601 is Townsend Harris High School's FIRST Robotics team.
                      Located in Flushing, NY, the Steel Hawks compete annually in the FIRST Robotics Competition (FRC) after spending
                      six weeks designing, building and programming a robot to compete and perform assigned tasks in the form of a game.
                      Before and during those six weeks, our team work to raise funds, gain business partners and sponsors, and share
                      our knowledge of science with our community.
                    </p>
                </div>
                <div class="col-md-3 col-md-offset-1">
                <div class="widget">
                    <a class="twitter-timeline" data-height="400"
                    data-chrome="noheader nofooter noborders"
                    data-transparent="true"
                    data-theme="false"
                    href="https://twitter.com/thhsrobotics?ref_src=twsrc%5Etfw">Tweets by thhsrobotics</a>

                  <!-- <ul class="link-list recent-posts">
                      <li>
                          <a href="#">A simple image post for starters</a>
                          <span class="date">September 23, 2015</span>
                      </li>
                      <li>
                          <a href="#">An audio post for good measure</a>
                          <span class="date">September 19, 2015</span>
                      </li>
                      <li>
                          <a href="#">A thoguhtful blockquote post on life</a>
                          <span class="date">September 07, 2015</span>
                      </li>
                  </ul> -->
              </div>


                </div>

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <a id="news"></a>
    <section class="bg-light pt40">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h1>News | Media</h1>
            <div class="widget">

            <a class="twitter-timeline"
            data-chrome="noheader nofooter noborders"
            href="https://twitter.com/thhsrobotics?ref_src=twsrc%5Etfw"

            data-tweet-limit="1"
            >@THHSRobotics</a>
          </div>
            <div id="pixlee_container"></div>
        </div>
      </div>
    </section>

  <a id="sponsors"></a>

    <section class="bg-blue-grey image-bg pb64">
        <div class="container">
            <div class="row mb-xs-32">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <h1 class="">Our Sponsors</h1>
                    <p class="lead">
                        The Steel Hawks would like to thank the following people,
                        companies and organizations for their continuing support
                        of our team and school.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->


        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center spread-children-large">
                  <a v-for="sponsor in sponsors" style="padding-top:30px" v-bind:href="sponsor.url">
                    <img alt="pic" class="sponsor fade-1-4"  v-bind:src="sponsor.logo">
                  </a>
                </div>
            </div>

            <div class="row">

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
<section class="pt120 pb120 image-bg">
                <div class="map-canvas" data-map-zoom="6" 
                data-address="lucia,californio[nomarker];san francisco;los angeles" 
                data-maps-api-key="AIzaSyBIuKtP9sn9WMynM83niN0JXlISW9SQI3k"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 overflow-hidden">
                            <h3 class="mb64 mb-xs-32">Get In Touch</h3>
                            <h4 class="mb16">hello@foundry.net</h4>
                            <ul class="list-inline social-list mb40 mb-xs-24">
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-vimeo-alt"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="col-sm-6 p0">
                                <h6 class="uppercase mb0">San Francisco</h6>
                                <p>
                                    1420 Chilvers Avenue.
                                    <br> San Francisco
                                    <br> (03) 4374 4628
                                </p>
                            </div>
                            <div class="col-sm-6 p0">
                                <h6 class="uppercase mb0">Los Angeles</h6>
                                <p>
                                    Suite 9A, Clementine Rd.
                                    <br> Newport, CA
                                    <br> (03) 3928 3728
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
    <footer class="bg-primary pt96 pb96 pt-xs-48 pb-xs-48">
                    <div class="container">
                        <div class="row mb64 mb-xs-32">
                            <div class="col-md-5 text-right text-left-xs">
                            </div>
                            <div class="col-md-2 hidden-sm hidden-xs text-center pt48">
                            </div>
                            <div class="col-md-5 col-sm-6">
                            </div>
                        </div>
                        <!--end of row-->
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                                <ul class="list-inline social-list mb0">
                                        <li>
                                            <a href="#">
                                                <i class="icon icon-sm ti-twitter-alt"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon icon-sm ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon icon-sm ti-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </footer>
</div>
