window.App.templates.pages.media=`
<div class="main-container">
<section class="img-bg bg-crimson" style="border-bottom-width:20px;border-bottom-style:solid;border-bottom-color:#292929;">
  <center><h1 class="uppercase" style="color:white;margin-bottom:-5vh;"><b>Media</b></h1></center>
</section>
<section class="img-bg" style="background-color:white;margin-bottom:-10vh;">
  <center><h2 class="uppercase" style="color:maroon;margin-top:-5vh;"><b>2018 Build Season Vlogs</b></h2></center>
  <div class="video-container" style="margin-top:-5vh;"><center><iframe width="720" height="405" src="https://www.youtube.com/embed/?listType=playlist&list=PL1CVNaoFuZz2bqWUBPXGZCBykJEdSEPek" frameborder="0" allowfullscreen></iframe></center></div>
</section>
<!--1080 607.5-->
<!-- <section class="img-bg" style="background-color:black;">
  <center><h2 class="uppercase" style="color:white;margin-top:-5vh;margin-bottom:5vh;"><b>Find us online</b></h2></center>
  <div class="container">
    <center><ul class="list-inline social-list mb0 media-page-sm">
            <li>
                <a href="https://twitter.com/thhsrobotics?lang=en" target="_blank">
                    <i class="icon ti-twitter-alt iconok"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/frc2601/" target="_blank">
                    <i class="icon ti-facebook iconok"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/steelhawks2601/" target="_blank">
                    <i class="icon ti-instagram iconok"></i>
                </a>
            </li>
            <li>
              <a href="https://github.com/steelhawks" target="_blank">
                <i class="icon ti-github iconok" style="color:white"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCEWGzCi4HUPlMh-btGRb1dg" target="_blank">
                <i class="icon ti-youtube" style="color:white"></i>
              </a>
            </li>
        </ul>
      </center>
  </div>
</section> -->
</div>
`;
