window.App.templates.pages.media=`
<div class="main-container">
<section class="img-bg" style="background-color:maroon;margin-bottom:-7.5vh;"><center><h1 style="color:white;"><b>Media</b></h1></center>
</section>
<section class="img-bg" style="background-color:white;">
  <center><h2 class="uppercase" style="margin-top:-5vh;margin-bottom:25px;"><b>2018 Build Season Vlogs</b></h2></center>
  <center><iframe style="margin-bottom:-5vh;" width="1080" height="607.5" src="https://www.youtube.com/embed/?listType=playlist&list=PL1CVNaoFuZz2bqWUBPXGZCBykJEdSEPek" frameborder="0" allowfullscreen></iframe></center>
</section>
<section class="img-bg" style="background-color:black;">
  <center><h2 class="uppercase" style="color:white;margin-top:-5vh;margin-bottom:5vh;"><b>Find us online</b></h2></center>
  <div class="container">
    <center><ul class="list-inline social-list mb0 media-page-sm">
            <li>
                <a href="https://twitter.com/thhsrobotics?lang=en" target="_blank">
                    <i class="icon ti-twitter-alt iconok"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/frc2601/" target="_blank">
                    <i class="icon ti-facebook iconok"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/steelhawks2601/" target="_blank">
                    <i class="icon ti-instagram iconok"></i>
                </a>
            </li>
            <li>
              <a href="https://github.com/steelhawks" target="_blank">
                <i class="icon ti-github iconok" style="color:white"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCEWGzCi4HUPlMh-btGRb1dg" target="_blank">
                <i class="icon ti-youtube" style="color:white"></i>
              </a>
            </li>
        </ul>
      </center>
  </div>
</section>
</div>
`;
