window.App.templates.pages.mentors = `

<div class="main-container">
  <section class="img-bg pb0" style="background-color:black;border-bottom-color:white;border-bottom-width:20px;border-bottom-style:solid;">
    <center><h1 class="uppercase" style="color:white;"><b>Mentors</b></h1></center>
  </section>
  <section class="img-bg bg-crimson" style="border-bottom-color:white;border-bottom-width:20px;border-bottom-style:solid;">
    <div class="container">
      <!--end of row-->
      <div class="row";
          <div class="col-md-6 col-sm-12 mb30 " v-for="mentor in mentors">
              <div class="feature boxed cast-shadow-light mb0">
                  <center><img v-bind:src="mentor.pic"></img></center><br>
                  <center><h2 style="color:maroon;">
                      {{ mentor.name }}</h2></center>
                  <center><h4> {{ mentor.title }}</h4></center>
                  <br>
                  <p class="text-justify" style="color:black;"> {{mentor.bio}} </p>
              </div>
          </div>
      </div>
      <!--end of row-->
    </div>
  </section>
</div>
`;
