window.App.templates.pages.merchandise = `
<div class="main-container">
<section class="img-bg pb0" style="background-color:black;border-bottom-color:white;border-bottom-width:20px;border-bottom-style:solid;">
  <center><h1 class="uppercase" style="color:white;"><b>Team Merchandise</b></h1></center>
</section>
<section class="img-bg bg-crimson" style="border-bottom-style:solid;border-bottom-width:20px;border-bottom-color:white;">
  <center><a href="/files/WEB STORE 19.pdf" target="_blank"><img src="/ctn/img/store2.png"></img></a></center><br><br><br><br>
  <center><a class="btn-filled btn-rounded uppercase btn-lg" href="https://steelhawks.itemorder.com/sale" style="background-color:white;border-color:black;border-width:10px;color:maroon;" target="_blank">BUY FROM OUR STORE</a></center>
</section>
</div>
`;
