window.App.templates.pages.ourrobots = `
<div class="main-container">
  <section class="img-bg white-border bg-black text-center pb0">
    <h1 style="color:white;font-weight:800">Our Robots</h1>
  </section>
  <section class="img-bg white-border bg-crimson">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 mb30" v-for="robot in robots">
              <div class="feature boxed cast-shadow-light mb0">
                  <center><h2 style="margin-bottom:10px;color:maroon;">
                      {{ robot.year }}</h2></center>
                  <center><h4> {{robot.game}} </h4></center>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="video-container" v-if="robot.media == 'vid'"><iframe width="560" height="315" v-bind:src="robot.tubeLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                        <div v-if="robot.media == 'pic'""><center><img style="width:80%;height:60%;"v-bind:src="robot.robotpic"></img></center></div>
                      </div>
                      <div class="col-md-5">
                        <p class="lead" style="text-align:justify;color:black;"> {{robot.bio}} </p>
                        <div class="row" style="text-align:center;">
                          <p class="lead"><b>Robot Name:</b> {{robot.name}}</p>
                        </div>
                        <br>
                        <div class="row" style="text-align:center;">
                          <a href="robot.cad"><p class="lead"><b>{{robot.name}} CAD Files (Coming soon!)</b></p></a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>
</div>
`;
