window.App.templates.pages.outreach = `
<div class = "main-container">
<section class="img-bg" style="background-color:black">
  <center><h1 class="uppercase" style="color:white;"><b>Outreach</b></h1></center>
</section>
<section class="img-bg" style="background-color:red;">
  <center><h2 style="margin-top:-30px;"><b>Project Philippines</b></h2></center>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-items-center">
        <img src="/ctn/img/outreach/IMG_2825.JPG" style="margin-right:100px;"></img>
      </div>
      <div class="col-md-6">
        <p class="lead" style="color:white;">In the summer of 2017, one of our teammates, Phyllis Alinsao, traveled to Iloilo, Philippines to host hands-on engineering workshops;
           we called this program Project Philippines!
           Our team supported Phyllis by donating over $4,500 of materials, including tools and a chassis so that the students could receive a hands-on engineering experience.
           We also worked with Phyllis to create the curriculum for the four-week workshops.</p>
           <p class="lead" style="color:white;">After Phyllis returned, she told us that Iloilo and surrounding neighborhoods had no libraries;
          In response, we held a schoolwide book drive for these students and others across the three regions of the Philippines: Mindanao, Luzon, and the Western Visayas.</p>
      </div>
    </div>
  </div>
</section>
<section class="img-bg">
  <center><h2 style="color:maroon;margin-top:-50px;"><b>In FIRST</b></h2></center>
    <center><h4 style="margin-top:10px;"><b>FRC</b></h4></center>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

      </div>
      <div class="col-lg-6">
        <p class="lead">Over the years, we’ve made it a priority to reach out to any and all teams that need help, whether it be in the form of mentorship or building space.
          Annually over the past five years we’ve created a full-scale replica of the game field and invite all FRC teams in the tri-state area to visit and practice alongside each other in the last weekend of the build season.
          Our build space is open to teams at any time throughout the Build Season, and we’ve helped many local FRC teams (5599, 3017, 6423, etc.) as well as international FRC teams (1156, 1382, and 1690).
          We also host annual robotics presentations, which we call our Hawk Talks, where we present information.</p>
      </div>
    </div>
  </div>
  <center><h4 style="margin-top:10px;"><b>FTC Championships</b></h4></center>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

      </div>
      <div class="col-lg-6">
        <p class="lead">Since 2015, we’ve hosted the NYC FTC Championships at our school, and all of our members and their parents get involved and volunteer at the event as referees and judges. We’ve also livestreamed this event via Twitch so that everyone has access to the FIRST experience.</p>
      </div>
    </div>
  </div>
  <center><h4><b>FLL</b></h4></center>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

      </div>
      <div class="col-lg-6">
        <p class="lead">In 2015, we started the tradition of visiting William Floyd Elementary School in Shirley, Long Island.
          Here, we sparked the students interest in robotics and the STEM community by letting the students operate and drive our robot so they can gain a hands-on experience.
          We also give presentations detailing the valuable skills and capabilities FIRST can foster in them.
          The students of William Floyd went on to start Team 23094 and sparked interest within their school district, who later founded the start of seven other FIRST Lego League (FLL) teams.</p>
      </div>
    </div>
  </div>
</section>
<section class="img-bg" style="background-color:gold;">
  <center><h2><b>FIRST Relations</b></h2></center>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <p class="lead">Our former Vice President, Daniel Sotelo-Reiner, had a vision which came to fruition in 2017. He was inspired by our team’s inclusivity to create a film to embody what we stand for.
          “FIRST® Relations” is the result of his efforts. His film debuted at the Tribeca Film Festival in 2018.<br>
          Daniel wrote, produced, and edited “FIRST® Relations” with the help of 30 members from our teams. His passion for our team and for filmmaking introduced the film community to FIRST.
          The main character in his film is a member of the LGBTQ+ community and the entire cast is ethnically diverse.
          His film emphasizes our team’s belief that FIRST and the STEM fields as a whole are open to everyone, regardless of economic status, religion, race, or sexual orientation.</p>
      </div>
    </div>
  </div>
</section>
</div>
`;
