window.App.templates.pages.sponsor = `
<div class = "main-container">
<section class="img-bg" style="background-color:maroon;">
  <center><h1 style="color:white;"><b>Our Sponsors</b></h1></center>
</section>
<section class="img-bg" style="background-color:white;"
<center><p class="lead" style="margin-top:50px;"><b>
    The Steel Hawks would like to thank the following people,
    companies and organizations for their continuing support
    of our team and school.</b>
</p></center>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center spread-children-large">
          <a v-for="sponsor in sponsors" style="padding-top:30px" v-bind:href="sponsor.url">
            <img alt="pic" class="sponsor fade-1-4"  v-bind:src="sponsor.logo">
          </a>
        </div>
    </div>

    <div class="row">

    </div>
    <!--end of row-->
</div>
</section>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center spread-children-large">
          <a v-for="sponsor in sponsors" style="padding-top:30px" v-bind:href="sponsor.url">
            <img alt="pic" class="sponsor fade-1-4"  v-bind:src="sponsor.logo">
          </a>
        </div>
    </div>
</div> -->
</div>
`;
