window.App.templates.pages.team = `

<div class="main-container">

  <section class="image-bg overlay pt-xs-180 bg-crimson dark-border">
      <!-- <div class="background-image-holder">
          <img alt="image" class="background-image" src="ctn/img/team/subteam-header.jpg" />-->
    <div class="container">
      <div class="row">
        <center><h2 class="uppercase" style="color:white;"><strong>Who is team 2601?</strong></h2></center>
        <center><p class="lead" style="text-align:justify;color:white;padding-left:30px;padding-right:30px;">The Steel Hawks robotics team, operating out of Townsend Harris High School in Flushing, NY, competes annually in the FIRST Robotics Competition (FRC) after diligently working for six weeks designing, building, and programming a robot to perform certain tasks pertaining to that year’s game. We take this robot to various competitions: the Hudson Valley and Long Island Regionals, as well as the Detroit FRC World Championship upon qualification.
              As a team, we raise funds by building strong relationships with corporate and engineering sponsors, as well as fundraising within our school through candy, coffee, and bake sales. We do this to ensure that our team has the necessary funds and resources to purchase materials for our robot as well as travel to each of our competitions.
        </p></center>
      </div>
    </div>
  </section>

  <!--Brochure Scrollable(To change)-->
  <section class="image-bg">
    <div class="scrollable-nL">
      <div v-for="page in brochure">
        <img v-bind:src="page.name"></img>
        <br>
      </div>
    </div>
  </section>

  <!--Information about each subteam and its members, tabbable content-->
  <section class="maroon-border" style="background-color:white;">
    <center><h2 style="color:#800000;"><b>Subteams</b></h2></center>
    <div class="container">
      <div class="row masonry">
        <div class="col-md-12 col-sm-12 masonry-item" v-for="group in groups">
          <div class="">
            <div class="col-md-4 col-sm-4 feature boxed cast-shadow-light mb0">
              <ul class="nav nav-tabs nav-stacked" role="tablist">
                <li role="presentation" class="active"><a v-bind:href="group.ref" v-bind:aria-controls="group.aria" role="tab" data-toggle="tab">Information</a></li>
                <li role="presentation"><a v-bind:href="group.mref" v-bind:aria-controls="group.maria" role="tab" data-toggle="tab">Members</a></li>
              </ul>
            </div>
            <div class="col-md-8 col-sm-8 feature boxed cast-shadow-light mb0">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" v-bind:id="group.tname">
                  <center><h2 class="color-primary mb0">
                    <i v4-bind:class="group.icon" class="icon-sm"></i>
                    {{ group.name }}</h2></center>
                    <center><h6 class="uppercase color-primary">Subteam</h6></center>
                  <p class="text-justify">
                    {{ group.description }}
                  </p>
                </div>
                <div role="tabpanel" class="tab-pane fade" v-bind:id="group.mtname">
                  <center><h6 class="uppercase color-primary">Members</h6></center>
                  <p> {{group.members}} </p>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </section>
</div>

  <!-- <section class="bg-rain">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-sm-12 text-center">
                <h3>Team Leaders</h3>
            </div>
        </div>

        <div class="row" v-for="leader in leaders">
            <div class="col-sm-3 text-center mb40 mb-xs-24">
                <img alt="Pic" class="mb24" v-bind:src="leader.pic">
            </div>
            <div class="col-sm-9">
              <h4 class="mb0">{{ leader.name }}</h4>
              <h6  class="uppercase">{{ leader.title }}</h6>
              <p>{{ leader.bio }}</p>
            </div>
          </div>

    </div>
  </section> -->
  <!-- <section class="bg-dark">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-md-offset-2">
                  <div class="image-slider slider-paging-controls slider-all-controls">
                      <ul class="slides">
                          <li v-for="pic in slideshow">
                            <div class="image-caption">
                              <img alt="Image" v-bind:src="pic.src" />
                              <div class="caption" style="background:black;color:white;font-size:18px">{{ pic.caption }}</div>
                            </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
`;
