window.App.templates.pages.test = `
  <div class="main-container">
    <section style="background-color:red;">
    </section>


  <center>
     <h1> Subteams </h1>
  </center>

  <center> <h3> Our robotics team consists of three main teams. </h3>
   <ul>
    <li> M</li>
    <li> P</li>
    <li> S</li>
   </ul>
 <p>
  <center> <table style="width:30%">
     <tr>
       <th> M </th>
       <th> P </th>
       <th> S </th>
     </tr>
     <tr>
       <td> xyz</td>
       <td> xyz</td>
       <td> xyz</td>
     </tr>

   </table>
  <button type="button" class="btn btn-link"><a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank"> Useless button  </a></button>
 <form>


 </form>
 </center>


  </div>
`
