.robotCard {
    background: transparent;
    border: none;
}

.robotName, .Year, .gameName {
    font-family: "Iceland";
    text-transform: uppercase;
}

.Year {
    color: var(--tertiary);
    font-size: 3em;
}

.gameName {
    font-size: 2.5em;
}

.robotName {
    color: rgb(186, 186, 186);
    font-size: 1.75em;
    padding-bottom: 20px;
}


/* slideshow stuff */
.robot2022, .container {
    max-width: 500px;
    width:100%;
}

.container {
    padding-bottom: 10px;
}

.slick-prev:before, .slick-next:before  {
    content: '' !important;
}

.dirArrow {
    font-size: 20px !important;
    z-index: 1000;
    max-width: 100%;
    color: white;
}

.robotImg {
    width: 100%;
    height: auto;
}