.teamCard{
    padding-top: 15px;
    text-align: center;
}

.textContent{
    text-align: justify;
}

.teamTab{
    padding-top: 10px;
    padding-bottom: 10px;
}

.subteamHeader{
    text-align: center;
}