*:focus {
    outline: 0;
}

#steelhawkstext {
    padding-left: 10px;
    font-family: 'Secular One';
}

.navLogo {
    max-width: 50%;
    max-height: 50%;
}

#Dropdown {
    background-color: transparent;
    border: none;
    margin: auto;
    text-decoration: none;
    margin-top: 25px;
}

#Dropdown:active {
    border: none;
}


.nav, .nav:active, .nav:visited {
    animation: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-decoration: none;
}

.nav:hover {
    color: #b8b8b8;
}

#steel {
    font-size: 50px;
    font-family: 'Secular One';
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    position: fixed;
}

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }

/* npm install react-headroom */