*:focus {
    outline: 0;
}

#steelhawkstext {
    padding-left: 10px;
    font-family: 'Secular One';
}

.navLogo {
    max-width: 20em;
    width: 100%;
    height: auto;
}

#ddmenu {
    animation: none;
    background-color: #ffffff;
    border: none;;
}


#Dropdown, #dropdownToggle {
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    animation: none;
    align-items: center;
    align-self: center;
}

#ddmenu:active, #Dropdown, #dropdownToggle:focus, #dropdownToggle:active, #dropdownToggle:hover, #dropdownElement, #dropdownElement:active, #dropdownElement:visited {
    border: 0px;
    animation: fade 0s ease-in;
    text-decoration: none;
    outline: 0 !important;
}

.nav, .nav:active, .nav:visited {
    animation: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-decoration: none;
    text-decoration: none;
}

.nav:hover {
    color: #b8b8b8;
}

.navbar {
    text-align: center;
    position: fixed;
    display: inline-block;
    z-index: 100;
    flex-direction: column;
    width: 100%;
    height: auto;
    animation: fade 0.5s ease-in;;
}

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.headroom--unfixed {
    position: relative;
    transform: translateY();
  }
  .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }

/* npm install react-headroom */

#sponsors {
    padding-left: 10px;
}

#toggle, #toggle:active {
    z-index: 999;
    position: absolute;
    left: 0;
    transform: translateX(30%);
    background-color: #ffffff;
    outline: none;
}

#responsive-navbar-nav {
    animation: fade 0.5s ease-in;
}