* {
    font-family: 'Rubik';
}

.newsheaderbg {
    background-color: #000000;
}

#newsheader {
    color: #ffffff;
    margin-bottom: 0;

     /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.homeImage {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%;
    border-top: 0px;
}

#homeMissionStatement {
    color: white;
    text-align: center;
    background-color: rgb(42, 44, 44);
    padding-left: 50px; 
    padding-right: 50px;
    margin: 0;
}

.homeColumn {
    padding-left: 0;
    padding-right: 0;
}

.homeTitle {
    color: #3ec714;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homeCardTitle {
    font-weight: bold;
}

.homeBody {
    text-align: center;
}