* {
  font-family: 'Rubik';
  animation: fade 0.5s ease-in;
}

.homeImage {
    width: auto; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%;
    border-top: 0px;
}

.homeColumn {
    padding-left: 0;
    padding-right: 0;
}

.homeTitle {
    color: #3ec714;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homeCardTitle {
    font-weight: bold;
}

.homeBody {
    text-align: center;
}

#twentytwo {
  height: 500px;
  background-color: white;
  border: 5px solid #a80c0c;
  display: flex;
}

#a2022 {
  font-size: 180px;
  color: black;
  padding-left: 150px;
  margin: auto 0;
  font-family: "Raleway";
  font-weight: 700;
}

#twentytwoText {
  font-size: 15px;
  margin: auto;
  text-align: center;
}

#teaserImage {
  height: 400px;
  width: 400px;
  margin: auto;
} 

#imgDesc {
  text-align: justify;
  width: 2845;
  margin: auto 0;
  margin-left: auto;
  padding-right: 200px;
}

#imgDesc img {
  display: block;
  margin: 0 auto;
}