#header {
    padding-top: 75px;
    text-align: center;
    margin: auto;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Iceland';
    color: rgb(116, 41, 41);
    margin-top: 10px; 
}