.grayOneHeader{
    background-color: #D3D3D3;
    color: #000000;
    border-top: 5px solid #800000;
    border-bottom: 5px solid #800000;
}

.grayTwoHeader{
    background-color: #D3D3D3;
    color: #800000;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000; 
}

.maroonHeader{
    background-color: #800000;
    color: #FFFFFF;
    text-align: center;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
}

.blackHeader {
    background-color: #000000;
    color: #D3D3D3;
    border-top: 5px solid #800000;
    border-bottom: 5px solid #800000;
}

.headerPadding {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}