body {
    background-color: #343836;
}

.personCard{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #343836;
    color: white;
}

.personText{
    text-align: justify;
}

.row:before, row:after{
    display: inline-block;
}

#image {
    border-radius: 50px 50px 50px 50px;
}

h2 {
    color: rgb(218, 108, 108);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Iceland';
    font-size: 3.75em;
}
