.footer{
    color: #d3d3d3;
    background-color: #222222;
    border-top: solid black 0.1em ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.links {
    display: inline-block;
    position: relative;
}

.footerLink {
    color: rgb(163, 163, 163);
    margin-right: 5px;
}

.footerLink:hover {
    text-decoration: none;
}

#secretHawk {
    display: inline-block;
    left: 40px;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: auto;
}

#secretHawk:hover {
    animation: reveal 750ms 1s forwards;
}

@keyframes reveal{ 
    to {opacity: 100}
}