.card {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
}

.cardTitle {
    font-family: 'Iceland';
    text-transform: uppercase;
    font-size: 3em;
    color: var(--tertiary);
}

.cardContent{
    font-size: 1em;
}

.cardImage{
    min-width: 200px;
    max-width: 100%;
    border-radius: 50px 50px 50px 50px;
}