@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: #151515;
    color: #ffffff;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: "Komet", serif;
    text-transform: uppercase;
    font-weight: 600;
}