#TWENTYTWENTYTWO {
    font-size: 5em;
    overflow: hidden;
    color: white;
    font-family: 'Iceland';
    line-height: 5rem;
    width: 0;
    max-height: 5rem;
    max-width: fit-content;

    /* animation */
    border-right: .15em solid rgb(105, 39, 39);
    animation: 
      typing 3s steps(8, end),
      cursorblink 0.8s infinite;
      animation-iteration-count: infinite;  
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 120% }
}
  
@keyframes cursorblink {
    from { border-color: transparent }
    to { border-color: rgb(105, 39, 39); }
}

.title2022 {
    padding-left: 1em;
    padding-top: 2vh;
    margin: auto;
    width: fit-content;
}

#teaserImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 15em;
    height: auto;
}

#Text {
    display:inherit;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1.5em;
}