:root {
    --type-speed: 2.4s;
}
#season {
    font-family: "Iceland", monospace;
    font-size: clamp(4em, 50%, 5em);
    position: relative;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#season::before,
#season::after {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#season::before {
    background: var(--mainBG);
    animation: type var(--type-speed) steps(11) 1s forwards;
}

#season::after {
    width: .075em;
    background: rgb(121, 27, 27);
    animation: type var(--type-speed) steps(11) 1s forwards, blink 750ms step-end infinite;
}

@keyframes type {
    to {left: 100%}
}

@keyframes blink {
    from,to {opacity: 100;}
    50% {opacity: 0;}
}

.newsimg {
    display: block;
    width: 100%;
    max-width: 45em;
    border-radius: 50px 50px 50px 50px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(255, 78, 78);
}

a:hover {
    color: rgb(228, 125, 125);
}

h3 {
   font-family: "Iceland";
   text-align: center;
   font-size: 2.5em; 
}

p2 {
    display: inherit;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1.5em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.newsimg {
    max-width: 500px;
}